.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar-toggler .navbar-toggler-icon {
    color: silver;
    background-color: black;
  }

  #webLogo {
      height: 50px;
      width: 50px;
  }
  #logoText {
    height: 75px;
    width: 250px;
  }

  hr {
    background-color:red;
    height: 10PX;
    border: none;
  }

  * {
    font-family: 'Open Sans', sans-serif;
  }

  footer {
    justify-content: center;
    background-color: white;
    margin-top: 175px;

    position: sticky;
    position: bottom;

  }

  #footerText {
    justify-content: center;
    align-content: center;
  }

  /* fieldset {
    background-color: white;

  } */

  form, #formBox, #aboutCard, #serviceChoices, #indexCard, #aboutCard {
    background-color: whitesmoke;
  }


  /* legend {
    border: 1px solid black;
  } */

  #clientState {
    width: 3rem;
  }
  #clientZIP {
    width: 5rem;
  }

  button {
    background-color: #D4AF37
  }

  #aboutImage {
    max-height: 400px;
  }

  .servicesGrid {
    justify-content: center;
  }

  p {
    margin-left: 1em;
    margin-right: 1em;
  }

  #A1, #A2, #serviceHeading {
    text-decoration: underline;
  }

  body {
    background-image: linear-gradient(to left, #4287f5, #0B138E);
    
  }

  .navbar {
    background-color: white;

  }

  #headingOne, #headingTwo, #headingThree, #headingFour, #headingFive, #headingSix, #headingSeven, #headingEight {
    background-image: linear-gradient(to right, white, grey)
  }

  #owner {
    font-style: italic;
  }

  #footerContact, #footerCertification, #footerAssociations {
    text-decoration: underline;
  }

  #footerAssociations {
    color: white;
  }
  #footerCopyright {
    font-size: 10px;
  }

  /* #collapseOne {
    background-color: #D4AF37;
    color: white;
  } */

  @media (max-width: 740px) {
    footer, #footerAssociations {
      color:black;
    }
  }

  #hand {
    width: 286px;
    height: 161px;
  }

  #hand, #corp, #infidelity, #background, #children, #yacht {
    overflow: none;
  }

  .workerPageHeading, .cardLink{
    text-decoration: underline
  }

  .workList {
    list-style: none
  }

  #ocga{
    font-style: italic; 
  }

  #instagram{
    background-color: blue;
    color: white
  }

  .modal-header, .modal-footer{
    background-image: linear-gradient(to left, #4287f5, #0B138E);
  }
  