.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar-toggler .navbar-toggler-icon {
    color: silver;
    background-color: black;
  }

  #webLogo {
      height: 50px;
      width: 50px;
  }
  #logoText {
    height: 75px;
    width: 250px;
  }

  hr {
    color:#C0C0C0;
    background-color:#D4AF37;
    height: 10PX;
    border: none;
  }

  * {
    font-family: 'Open Sans', sans-serif;
  }

  footer {
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    position: sticky;
  }

  #footerText {
    justify-content: center;
    align-content: center;
  }